

<div class="xb-vid-interview">
    <div class="xb-grid-splitview">
        <div class="xb-split-view-1">
            <div class="xb-title-area">
                <div class="wrapper">Hear From Our Students.</div>
            </div>
        </div>
        <div class="xb-split-view-2">
            <div class="xb-content-wrapper">
                <div class="x-close-manager">&times;</div>
                <div class="xb-player-control-wrapper">
                    <div class="xb-video-ctrl-wrapper">
                        <div class="xb-icon-container">
                            <i class="fa-solid fa-play"></i>
                        </div>
                    </div>
                    <div class="xb-video-wrapper">
                        <video id="my-om-player" class="video-js sm2" controls>
                            <source src="./resources/videos/studentlifefinal.mp4" type="video/mp4">
                        </source>
                        </video>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>