<div class="ns-main-container" nature="static-preloading">
    <div class="ns-main-wrapper">
        <ns-header></ns-header>
        <div class="ns-page-container">
            <ns-router>
                <ns-root key="home-view" path="./home">
                    <ns-home-view></ns-home-view>
                </ns-root>
                <ns-root key="about-view" path="./aboutus">
                    <ns-about-view></ns-about-view>
                </ns-root>
                <ns-root key="blog-view" path="./blog">
                    <ns-academics-view></ns-academics-view>
                </ns-root>
                <ns-root key="academics-view" path="./academics">
                    <ns-academics-view></ns-academics-view>
                </ns-root>
                <ns-root key="insights-view" path="./insights">
                    <ns-insights-view></ns-insights-view>
                </ns-root>
            </ns-router>
        </div>
        <ns-footer></ns-footer>
    </div>
    <div class="ns-sub-wrapper" is="inactive"></div>
</div>

<div class="ponaco-splitview-1">
    <div class="ponaco-control-wrapper">
        <div class="banner-image-container">
            <picture draggable="false" class="cn-picture-container">
                <img src="" alt="" loading="lazy">
            </picture>
        </div>
        <div class="wx-component-user-section">
            <div class="welcome-note-section">
                <div class="note-1">Ndejje Senior Secondary School</div>
                <div class="note-2">Sharing And Educating Humanity.</div>
                <ns-enroll-button></ns-enroll-button>
            </div>
        </div>
    </div>
</div>

<div class="ponaco-splitview-3">
    <div class="wx-component-3">
        <div class="split-view">
            <div class="ctr-component-container">
                <div class="ctr-component-wrapper rx-component">
                    <div class="conic-section-1">
                        <div class="ctx-pictures-wrapper">
                            <div class="ctx-pic-1 cn-pic-box">
                                <div class="cn-picture-container">
                                    <picture>
                                        <img loading="lazy"
                                            src="./resources/site-images/home-view/cr_effectivestudents/biology.jpg"
                                            alt="">
                                    </picture>
                                </div>
                                <div class="cn-info-container">
                                    <div class="cn-info-wrapper">
                                        <div class="cn-short-title">Research And Study</div>
                                        <div class="cn-short-title-2">Biology & Chemistry</div>
                                    </div>
                                </div>
                            </div>

                            <div class="ctx-additive-pics">
                                <div class="ctx-pic-1 cn-pic-box">
                                    <div class="cn-picture-container">
                                        <picture>
                                            <img loading="lazy"
                                                src="./resources/site-images/home-view/cr_effectivestudents/biology.jpg"
                                                alt="">
                                        </picture>
                                    </div>
                                    <div class="cn-info-container">
                                        <div class="cn-info-wrapper">
                                            <div class="cn-short-title">Discuss And Renew</div>
                                            <div class="cn-short-title-2">Debate</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="ctx-pic-1 cn-pic-box">
                                    <div class="cn-picture-container">
                                        <picture>
                                            <img loading="lazy"
                                                src="./resources/site-images/home-view/cr_effectivestudents/biology.jpg"
                                                alt="">
                                        </picture>
                                    </div>
                                    <div class="cn-info-container">
                                        <div class="cn-info-wrapper">
                                            <div class="cn-short-title">Creative Talent</div>
                                            <div class="cn-short-title-2">Music And Drama</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="conic-section-2">
                        <div class="wrapper">
                            <div class="content-wrapper benefits-content-holder">
                                <div class="cr-title">Building Effective Students</div>
                                <div class="cr-description">
                                    Our faculty lead students to reach further, to achieve their goals and to effect
                                    change in the professions and passions they pursue.
                                </div>
                                <div class="cr-xmore" title="Read More Ndejje">
                                    Read More
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>




<div class="ponaco-splitview-5">
    <div class="wx-insights-component">
        <div class="main-wrapper">
            <div class="content-title">
                <div class="content-title-wrapper">
                    Uniqueness of Ndejje S.S.S
                </div>
                <div class="content-sub-title-wrapper">
                    Get to Know About the good things about Ndejje.
                </div>
            </div>
            <div class="cards-container">
                <div class="card-wrapper-1">
                    <div class="card-wrapper-2">
                        <div class="card-x-component ${__element.key}">
                            <div class="card-content">
                                <div class="card-content-wrapper">
                                    <div class="card-content-image  "></div>
                                    <div class="card-content-info">
                                        <div class="x-title-1 ctrinfo">
                                            <div class="wrapper">
                                                ${__element.shortDescription}
                                            </div>
                                        </div>
                                        <div class="x-title-2 ctrinfo">
                                            <div class="wrapper">
                                                ${__element.mainDescription}
                                            </div>
                                        </div>
                                        <div class="x-title-btn">
                                            <div class="x-btn-wrapper ctrinfo">
                                                <div class="sl-button">&RightArrow;</div>
                                                <div class="sl-text">Read More From ${__element.title}.</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<div class="wx-component-header-section" role="heading">
    <div class="wx-header-component-area">
        <div class="wx-badge-wrapper">
            <div id="badge-icon"></div>
            <div class="badge-title">
                <div class="badge-link-container">
                    <ns-link href="./home" className="common-link">
                        Ndejje Senior Secondary School
                    </ns-link>
                </div>
            </div>
        </div>

        <div class="wx-navigation-bar-half-area">
            <div class="navigation-bar-wrapper">
                <div class="main-navigation-bar">
                    <ul class="navigation-items">
                        <li id="Home-nav-control">
                            <ns-link className="active-link" href="./home">
                                Home
                            </ns-link>
                        </li>

                        <li id="about-nav-control">
                            <ns-link href="./aboutus">
                                About us
                            </ns-link>
                        </li>
                        <li id="blog-nav-control">
                            <ns-link href="./blog">
                                Blog
                            </ns-link>
                        </li>
                        <li id="academics-nav-control">
                            <ns-link href="./academics">
                                Academics
                            </ns-link>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="accord-options">
            <div class="control-options">
                <div class="facebook-link" title="Join us On Facebook">
                    <i class="fa-brands fa-facebook"></i>
                </div>

                <div class="instagram-link" title="Follow us on Instagram">
                    <i class="fa-brands fa-instagram"></i>
                </div>

                <div class="twitter-link" title="Follow us on Twitter">
                    <i class="fa-brands fa-twitter"></i>
                </div>
                <div class="theme-manager" title="Change theme">
                    <i class="fa-solid fa-lightbulb"></i>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="wx-component-header-section">
    <div class="wx-header-component-area">
        <div class="wx-badge-wrapper">
            <div id="badge-icon"></div>
            <div class="badge-title"></div>
        </div>
        <div class="wx-navigation-bar-half-area">
            <div class="navigation-bar-wrapper">
                <div class="main-navigation-bar">
                    <ul class="navigation-items">
                        <li id="Home-nav-control">
                            <ns-link className="active-link" href="./home">
                                Home
                            </ns-link>
                        </li>

                        <li id="about-nav-control">
                            <ns-link href="./aboutus">
                                About us
                            </ns-link>
                        </li>
                        <li id="blog-nav-control">
                            <ns-link href="./blog">
                                Blog
                            </ns-link>
                        </li>
                        <li id="academics-nav-control">
                            <ns-link href="./academics">
                                Academics
                            </ns-link>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="accord-options">
            <div class="control-options">
                <div class="facebook-link" title="Join us On Facebook">
                    <i class="fa-brands fa-facebook"></i>
                </div>

                <div class="instagram-link" title="Follow us on Instagram">
                    <i class="fa-brands fa-instagram"></i>
                </div>

                <div class="twitter-link" title="Follow us on Twitter">
                    <i class="fa-brands fa-twitter"></i>
                </div>
                <div class="theme-manager" title="Change theme">
                    <i class="fa-solid fa-lightbulb"></i>
                </div>
            </div>
        </div>
    </div>
</div>