<div class="ns-main-container" nature="static-preloading">
    <div class="ns-main-wrapper">
        <ns-header></ns-header>
        <div class="ns-page-container">
            <ns-router>
                <ns-root key="home-view" path="./home">
                    <ns-home-view></ns-home-view>
                </ns-root>
                <ns-root key="about-view" path="./aboutus">
                    <ns-about-view></ns-about-view>
                </ns-root>
                <ns-root key="blog-view" path="./blog">
                    <ns-academics-view></ns-academics-view>
                </ns-root>
                <ns-root key="academics-view" path="./academics">
                    <ns-academics-view></ns-academics-view>
                </ns-root>
                <ns-root key="insights-view" path="./insights">
                    <ns-insights-view></ns-insights-view>
                </ns-root>
            </ns-router>
        </div>
        <ns-footer></ns-footer>
    </div>
    <div class="ns-sub-wrapper" is="inactive"></div>
</div>

<div class="ponaco-splitview-1">
    <div class="ponaco-control-wrapper">
        <div class="banner-image-container">
            <picture draggable="false" class="cn-picture-container">
                <img src="" alt="" loading="lazy">
            </picture>
        </div>
        <div class="wx-component-user-section">
            <div class="welcome-note-section">
                <div class="note-1">Ndejje Senior Secondary School</div>
                <div class="note-2">Sharing And Educating Humanity.</div>
                <ns-enroll-button></ns-enroll-button>
            </div>
        </div>
    </div>
</div>

<div class="ponaco-splitview-3">
    <div class="wx-component-3">
        <div class="split-view">
            <div class="ctr-component-container">
                <div class="ctr-component-wrapper rx-component">
                    <div class="conic-section-1">
                        <div class="ctx-pictures-wrapper">
                            <div class="ctx-pic-1 cn-pic-box">
                                <div class="cn-picture-container">
                                    <picture>
                                        <img loading="lazy"
                                            src="./resources/site-images/home-view/cr_effectivestudents/biology.jpg"
                                            alt="">
                                    </picture>
                                </div>
                                <div class="cn-info-container">
                                    <div class="cn-info-wrapper">
                                        <div class="cn-short-title">Research And Study</div>
                                        <div class="cn-short-title-2">Biology & Chemistry</div>
                                    </div>
                                </div>
                            </div>

                            <div class="ctx-additive-pics">
                                <div class="ctx-pic-1 cn-pic-box">
                                    <div class="cn-picture-container">
                                        <picture>
                                            <img loading="lazy"
                                                src="./resources/site-images/home-view/cr_effectivestudents/biology.jpg"
                                                alt="">
                                        </picture>
                                    </div>
                                    <div class="cn-info-container">
                                        <div class="cn-info-wrapper">
                                            <div class="cn-short-title">Discuss And Renew</div>
                                            <div class="cn-short-title-2">Debate</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="ctx-pic-1 cn-pic-box">
                                    <div class="cn-picture-container">
                                        <picture>
                                            <img loading="lazy"
                                                src="./resources/site-images/home-view/cr_effectivestudents/biology.jpg"
                                                alt="">
                                        </picture>
                                    </div>
                                    <div class="cn-info-container">
                                        <div class="cn-info-wrapper">
                                            <div class="cn-short-title">Creative Talent</div>
                                            <div class="cn-short-title-2">Music And Drama</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="conic-section-2">
                        <div class="wrapper">
                            <div class="content-wrapper benefits-content-holder">
                                <div class="cr-title">Building Effective Students</div>
                                <div class="cr-description">
                                    Our faculty lead students to reach further, to achieve their goals and to effect
                                    change in the professions and passions they pursue.
                                </div>
                                <div class="cr-xmore" title="Read More Ndejje">
                                    Read More
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>




<div class="ponaco-splitview-5">
    <div class="wx-insights-component">
        <div class="main-wrapper">
            <div class="content-title">
                <div class="content-title-wrapper">
                    Uniqueness of Ndejje S.S.S
                </div>
                <div class="content-sub-title-wrapper">
                    Get to Know About the good things about Ndejje.
                </div>
            </div>
            <div class="cards-container">
                <div class="card-wrapper-1">
                    <div class="card-wrapper-2">
                        <div class="card-x-component ${__element.key}">
                            <div class="card-content">
                                <div class="card-content-wrapper">
                                    <div class="card-content-image  "></div>
                                    <div class="card-content-info">
                                        <div class="x-title-1 ctrinfo">
                                            <div class="wrapper">
                                                ${__element.shortDescription}
                                            </div>
                                        </div>
                                        <div class="x-title-2 ctrinfo">
                                            <div class="wrapper">
                                                ${__element.mainDescription}
                                            </div>
                                        </div>
                                        <div class="x-title-btn">
                                            <div class="x-btn-wrapper ctrinfo">
                                                <div class="sl-button">&RightArrow;</div>
                                                <div class="sl-text">Read More From ${__element.title}.</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<div class="wx-component-header-section" role="heading">
    <div class="wx-header-component-area">
        <div class="wx-badge-wrapper">
            <div id="badge-icon"></div>
            <div class="badge-title">
                <div class="badge-link-container">
                    <ns-link href="./home" className="common-link">
                        Ndejje Senior Secondary School
                    </ns-link>
                </div>
            </div>
        </div>

        <div class="wx-navigation-bar-half-area">
            <div class="navigation-bar-wrapper">
                <div class="main-navigation-bar">
                    <ul class="navigation-items">
                        <li id="Home-nav-control">
                            <ns-link className="active-link" href="./home">
                                Home
                            </ns-link>
                        </li>

                        <li id="about-nav-control">
                            <ns-link href="./aboutus">
                                About us
                            </ns-link>
                        </li>
                        <li id="blog-nav-control">
                            <ns-link href="./blog">
                                Blog
                            </ns-link>
                        </li>
                        <li id="academics-nav-control">
                            <ns-link href="./academics">
                                Academics
                            </ns-link>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="accord-options">
            <div class="control-options">
                <div class="facebook-link" title="Join us On Facebook">
                    <i class="fa-brands fa-facebook"></i>
                </div>

                <div class="instagram-link" title="Follow us on Instagram">
                    <i class="fa-brands fa-instagram"></i>
                </div>

                <div class="twitter-link" title="Follow us on Twitter">
                    <i class="fa-brands fa-twitter"></i>
                </div>
                <div class="theme-manager" title="Change theme">
                    <i class="fa-solid fa-lightbulb"></i>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="wx-component-header-section">
    <div class="wx-header-component-area">
        <div class="wx-badge-wrapper">
            <div id="badge-icon"></div>
            <div class="badge-title"></div>
        </div>
        <div class="wx-navigation-bar-half-area">
            <div class="navigation-bar-wrapper">
                <div class="main-navigation-bar">
                    <ul class="navigation-items">
                        <li id="Home-nav-control">
                            <ns-link className="active-link" href="./home">
                                Home
                            </ns-link>
                        </li>

                        <li id="about-nav-control">
                            <ns-link href="./aboutus">
                                About us
                            </ns-link>
                        </li>
                        <li id="blog-nav-control">
                            <ns-link href="./blog">
                                Blog
                            </ns-link>
                        </li>
                        <li id="academics-nav-control">
                            <ns-link href="./academics">
                                Academics
                            </ns-link>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="accord-options">
            <div class="control-options">
                <div class="facebook-link" title="Join us On Facebook">
                    <i class="fa-brands fa-facebook"></i>
                </div>

                <div class="instagram-link" title="Follow us on Instagram">
                    <i class="fa-brands fa-instagram"></i>
                </div>

                <div class="twitter-link" title="Follow us on Twitter">
                    <i class="fa-brands fa-twitter"></i>
                </div>
                <div class="theme-manager" title="Change theme">
                    <i class="fa-solid fa-lightbulb"></i>
                </div>
            </div>
        </div>
    </div>
</div>



<div class="xb-about-component">
    <div class="control-wrapper">
        <div class="xb-wrapper-2">
            <div class="banner-wrapper">
                <picture>
                    <img loading="lazy" src="${aboutBannerImage}" />
                </picture>
            </div>
        </div>
        <div class="xb-wrapper">
            <div class="tl-x-o-text">A Reflection of the Purpose and Personality of Ndejje.</div>
            <div class="xl-sub-content">...About us...</div>
        </div>
    </div>
</div>


<div class="xb-life-component">
    <div class="xb-component-wrapper">
        <div class="xb-title-area-wrapper">
            <div class="xb-title-container">...Life of Students...</div>
        </div>
        <div class="xb-split-view">
            <div class="xb-split-view-wrapper">
                <div class="xb-split-view-1 split-component">
                    <div class="xb-split-component xb-picture-container xl-q">
                        <div class="image-container">
                            <picture class="image-host">
                                <img src="" loading="lazy">
                            </picture>
                        </div>
                    </div>
                    <div class="xb-split-component xb-content">
                        <div class="cr-line"></div>
                        <div class="split-wrapper">
                            The discipline of the students continues to improve. It has been observed that most of the indiscipline cases have a link with home related challenges spilling over to the school
                        </div>
                    </div>
                </div>
                <div class="xb-split-view-2 split-component">
                    <div class="xb-split-component xb-content">
                        <div class="cr-line"></div>
                        <div class="split-wrapper">
                            At breakfast, students are served with milk tea along with eats on Tuesday (Doughnuts), Thursday (chapattis), and Saturday (Buns) Sunday (chapattis/Eggs/Maize
                        </div>
                    </div>
                    <div class="xb-split-component xb-picture-container xl-p">
                        <div class="image-container">
                            <picture class="image-host">
                                <img src="" loading="lazy">
                            </picture>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </div>
</div>


<!--enroll dialog template-->

<div class="enroll-dialog-main-wrapper">
    <div class="section-wrapper">
        <div class="sl-secton-1">
            <div class="banner-image-area">
                <picture>
                    <img src="" loading="lazy"/>
                </picture>
            </div>
        </div>
        <div class="sl-secton-2">
            <div class="form-section-wrapper">
                <div class="sl-1">
                    <div class="wrapper">
                        <div class="main-title">Which Level Would You Like to Join?.</div>
                        <div class="cl-wrapper">
                            <div class="cl-f5-wrapper">
                                <div class="io-wrapper">A-level 2023.</div>
                            </div>
                            <div class="cl-f6-wrapper">
                                <div class="io-wrapper">O-level 2023.</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="sl-2">
                    <div class="wrapper">
                        <div class="main-title-component">
                            <div class="tr-1">A-level Enrollment</div>
                            <div class="tr-2">Enrolling as student in Form 5 2023.</div>
                        </div>
                        <div class="main-form-component">
                            <div class="jl-title-1">Enter The Information Carefully.</div>
                            <div class="jl-main">
                                <form action="post" id="cr-form">
                                    <div class="main-name-entry-container">
                                        <div class="sl-label">Name</div>
                                        <input type="text" name="text-area" id="er-name" required="required">
                                    </div>
                                    <div class="main-school-entry-container">
                                        <div class="sl-label">Former School</div>
                                        <input type="text" name="text-area" id="er-school" required="required">
                                    </div>
                                    <div class="main-sex-entry-container">
                                        <div class="sl-label">Sex</div>
                                        <select name="" id="er-select" required="required">
                                            <option value="Male"></option>
                                            <option value="Female"></option>
                                        </select>
                                    </div>
                                    <div class="main-name-2-entry-container">
                                        <div class="sl-label">Parent's Name</div>
                                        <input type="text" name="text" id="er-name-2" required="required">
                                    </div>
                                    <div class="main-number-entry">
                                        <div class="sl-label">Parent's Phone</div>
                                        <input type="number" required="required" id="er-number-2">
                                    </div>
                                    <div class="main-description-container">
                                        <div class="sl-label">Why Ndejje</div>
                                        <textarea name="" id="cr-ndejje" cols="30" rows="10" required="required" placeholder="Why Did you really think Ndejje is school of your Choice"></textarea>
                                    </div>
                                    <div class="main-data-container">
                                        <div class="sl-label">Please Attach A copy of Your Results. (.pdf or .docx)</div>
                                        <input type="file" name="" id="cr-name">
                                    </div>
                                </form>
                                    <div class="main-data-continutit">
                                        <div class="sl-label">Continue</div>
                                    </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="sl-3">
                    <div class="wrapper">
                        <div class="main-title">Almost Done!</div>
                        <div class="wrapper">
                            <div class="ql-email">
                                <div class="sl-label">Response Email.</div>
                                <div class="sl-label-2">We Will Get Back to you at this Email.</div>
                                <input type="email" name="" id="rp-email">
                            </div>
                            <div class="loader-area">
                                <div class="loader-component"></div>
                                <div class="loader-sucess"></div>
                                <div class="loader-failed"></div>
                            </div>
                        </div>
                        <div class="button-submit">
                            <div class="sl-label">Submit</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="u-l-section-wrapper">
                <div class="sl-wrapper">
                    <div class="tr-container">
                        <div class="tr-title">Sorry!</div>
                        <div class="tr-title-2">No Applications Available for O-level & A-level</div>
                        <div class="tr-title-3">Try Later!</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>