<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= htmlWebpackPlugin.options.title %></title>
    <!--preloadstyles-->
    <link rel="stylesheet" href="/libraries/ns_v/ns_v.css">
    <link rel="stylesheet" href="/libraries/font-awesome/css/all.css">
</head>
<body>
    
    <!-- initial startup Loaders -->
    <script src="/ns-loaders/bootstrap.js"></script>
    <script src="/ns-loaders/polyfill.webcomponents.js" ></script>
    <script src="/ns-loaders/polyfill.loader.js" ></script>

    
</body>
</html>