<div class="main-faqcomponent">
    <div class="main-content-layout">
        <h2>Frequently Asked Questions</h2>

        <div class="content-slider">
            <div class="info-slider-1">
                <div class="initial-display-1">
                    <p>Where can I find the headquaters of Ndejje SSS?</p>
                    <i class="fa-solid fa-angle-down"></i>
                </div>
                <div class="slider-expand-section">
                    <p>
                    </p>
                </div>
            </div>
            <div class="info-slider-1">
                <div class="initial-display-1">
                    What is the school fees per term?
                    <i class="fa-solid fa-angle-down"></i>
                </div>

                <div class="slider-expand-section">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste assumenda facilis,
                    pariatur soluta libero consequuntur modi autem velit quibusdam harum quod ipsam?
                </div>
            </div>
            <div class="info-slider-1">
                <div class="initial-display-1">
                    <p>How can I contact the school for any queries?</p>
                    <i class="fa-solid fa-angle-down"></i>
                </div>
                <div class="slider-expand-section">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste assumenda facilis,
                    pariatur soluta libero consequuntur modi autem velit quibusdam harum quod ipsam?
                </div>
            </div>
        </div>
    </div>
</div>



<div class="main-faqcomponent">
    <div class="main-content-layout">
        <div class="content-title">
            <div class="content-title-wrapper">
                Frequently Asked Questions
            </div>
        </div>

        <div class="content-slider">
            <div class="slider-wrapper">

                <div class="ctr-slider-component">
                    <div class="ctr-label-container">
                        <div class="cl-wrapper">Where can I find the headquaters of Ndejje SSS?</div>
                        <div class="cl-icon-wrapper">
                            <i class="fa-solid fa-angle-down"></i>
                        </div>
                    </div>
                    <div class="ctr-expand-section">
                        <div class="clx-wrapper">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste assumenda facilis,
                            pariatur soluta libero consequuntur modi autem velit quibusdam harum quod ipsam?
                        </div>
                    </div>
                </div>

                <div class="ctr-slider-component">
                    <div class="ctr-label-container">
                        <div class="cl-wrapper">Where can I find the headquaters of Ndejje SSS?</div>
                        <div class="cl-icon-wrapper">
                            <i class="fa-solid fa-angle-down"></i>
                        </div>
                    </div>
                    <div class="ctr-expand-section">
                        <div class="clx-wrapper">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste assumenda facilis,
                            pariatur soluta libero consequuntur modi autem velit quibusdam harum quod ipsam?
                        </div>
                    </div>
                </div>

                <div class="ctr-slider-component">
                    <div class="ctr-label-container">
                        <div class="cl-wrapper">Where can I find the headquaters of Ndejje SSS?</div>
                        <div class="cl-icon-wrapper">
                            <i class="fa-solid fa-angle-down"></i>
                        </div>
                    </div>
                    <div class="ctr-expand-section">
                        <div class="clx-wrapper">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste assumenda facilis,
                            pariatur soluta libero consequuntur modi autem velit quibusdam harum quod ipsam?
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </div>
</div>


<div class="xb-news-item-component">
    <div class="xb-holder-wrapper">
        <div class="xb-picture-holder-container"></div>
        <div class="xb-content-holder">
            <div class="xb-title">
                <div class="xb-title-wrapper"></div>
            </div>
            <div class="xb-content-host">
                <div class="xb-content-host-wrapper"></div>
            </div>
        </div>
    </div>
</div>

<div class="ponaco-splitview-3">
    <div class="wx-component-3">
        <div class="split-view">
            <div class="ctr-component-container">
                <div class="ctr-component-wrapper rx-component">
                    <div class="conic-section-1">
                        <div class="ctx-pictures-wrapper">
                            <div class="ctx-pic-1 cn-pic-box">
                                <div class="cn-picture-container cn-1"></div>
                                <div class="cn-info-container">
                                    <div class="cn-info-wrapper">
                                        <div class="cn-short-title">Practice</div>
                                        <div class="cn-short-title-2">Technology</div>
                                    </div>
                                </div>
                            </div>
                            <div class="ctx-additive-pics">
                                <div class="ctx-pic-2 cn-pic-box">
                                    <div class="cn-picture-container cn-2"></div>
                                    <div class="cn-info-container">
                                        <div class="cn-info-wrapper">
                                            <div class="cn-short-title">Practice</div>
                                            <div class="cn-short-title-2">Technology</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="ctx-pic-3 cn-pic-box">
                                    <div class="cn-picture-container cn-3"></div>
                                    <div class="cn-info-container">
                                        <div class="cn-info-wrapper">
                                            <div class="cn-short-title">Practice</div>
                                            <div class="cn-short-title-2">Technology</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="conic-section-2">
                        <div class="wrapper">
                            <div class="content-wrapper benefits-content-holder">
                                <div class="cr-title">Building Effective Students</div>
                                <div class="cr-description">

                                    Our faculty lead students to reach further, to achieve their goals and to effect
                                    change in the professions and passions they pursue.

                                </div>
                                <div class="cr-xmore" title="Read More about the interesting facts about Ndejje">Read
                                    More</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>



<div class="review-main-component">
    <div class="main-review-container">
        <div class="split-layout-containers">

            <div class="split-container-2">
                <div class="split-wrapper">
                    <h2>Students Thoughts?.</h2>

                    <div class="student-quote">
                        <p>"Lorem ipsum dolor sit amet consectetur adipisicing elit.
                            Beatae obcaecati, alias at ut vel quaerat amet minima velit minus iusto
                            quisquam pariatur perspiciatis natus nostrum vitae officia possimus
                            nulla suscipit".
                        </p>
                    </div>

                    <div class="carosell-navigation">
                        <div class="carosell-1 cr-active" carosell-x="0"></div>
                        <div class="carosell-1 cr-off" carosell-x="1"></div>
                        <div class="carosell-1 cr-off" carosell-x="2"></div>
                    </div>
                </div>
            </div>
            <div class="split-container-1">
                <div class="split-image-container"></div>
            </div>
        </div>
    </div>
</div>


<!--mission component-->


<div class="xtr-component">
    <div class="xtr-wrapper">
        <div class="ctr-content">
            <div class="xtr-title-provider">
                <div class="wrapper">
                    Ndejje's Mission
                </div>
            </div>
            <div class="xtr-content-mgr">
                <div class="wrapper">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat quae commodi pariatur. Unde, iste
                    delectus officia aliquid
                </div>
            </div>
        </div>
    </div>
</div>




<div class="ponaco-splitview-5">
    <div class="wx-insights-component">
        <div class="main-wrapper">
            <div class="content-title">
                <div class="content-title-wrapper">
                    Uniqueness of Ndejje S.S.S
                </div>
                <div class="content-sub-title-wrapper">
                    Get to Know About the good things about Ndejje.
                </div>
            </div>
            <div class="cards-container">
                <div class="card-wrapper-1">
                    <div class="card-wrapper-2">
                        <div class="card-x-component">
                            <div class="card-content">
                                <div class="card-content-wrapper">
                                    <div class="card-content-image cg-1"></div>
                                    <div class="card-content-info">
                                        <div class="x-title-1 ctrinfo">
                                            <div class="wrapper">
                                                Relating And Knowing Other Students
                                            </div>
                                        </div>
                                        <div class="x-title-2 ctrinfo">
                                            <div class="wrapper">
                                                Many Students have suffered a social boundary
                                                because of the
                                                great wall of school which destroys there social life.
                                            </div>
                                        </div>
                                        <div class="x-title-btn">
                                            <div class="x-btn-wrapper ctrinfo">
                                                <div class="sl-button">&RightArrow;</div>
                                                <div class="sl-text">Read More From Interact Club.</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card-x-component">
                            <div class="card-content">
                                <div class="card-content-wrapper">
                                    <div class="card-content-image cg-2"></div>
                                    <div class="card-content-info">
                                        <div class="x-title-1 ctrinfo">
                                            <div class="wrapper">
                                                Relating And Knowing Other Students
                                            </div>
                                        </div>
                                        <div class="x-title-2 ctrinfo">
                                            <div class="wrapper">
                                                Many Students have suffered a social boundary
                                                because of the
                                                great wall of school which destroys there social life.
                                            </div>
                                        </div>
                                        <div class="x-title-btn">
                                            <div class="x-btn-wrapper ctrinfo">
                                                <div class="sl-button">&RightArrow;</div>
                                                <div class="sl-text">Read More From Interact Club.</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card-x-component">
                            <div class="card-content">
                                <div class="card-content-wrapper">
                                    <div class="card-content-image cg-3"></div>
                                    <div class="card-content-info">
                                        <div class="x-title-1 ctrinfo">
                                            <div class="wrapper">
                                                Relating And Knowing Other Students
                                            </div>
                                        </div>
                                        <div class="x-title-2 ctrinfo">
                                            <div class="wrapper">
                                                Many Students have suffered a social boundary
                                                because of the
                                                great wall of school which destroys there social life.
                                            </div>
                                        </div>
                                        <div class="x-title-btn">
                                            <div class="x-btn-wrapper ctrinfo">
                                                <div class="sl-button">&RightArrow;</div>
                                                <div class="sl-text">Read More From Interact Club.</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card-x-component">
                            <div class="card-content">
                                <div class="card-content-wrapper">
                                    <div class="card-content-image cg-4"></div>
                                    <div class="card-content-info">
                                        <div class="x-title-1 ctrinfo">
                                            <div class="wrapper">
                                                Relating And Knowing Other Students
                                            </div>
                                        </div>
                                        <div class="x-title-2 ctrinfo">
                                            <div class="wrapper">
                                                Many Students have suffered a social boundary
                                                because of the
                                                great wall of school which destroys there social life.
                                            </div>
                                        </div>
                                        <div class="x-title-btn">
                                            <div class="x-btn-wrapper ctrinfo">
                                                <div class="sl-button">&RightArrow;</div>
                                                <div class="sl-text">Read More From Interact Club.</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card-x-component">
                            <div class="card-content">
                                <div class="card-content-wrapper">
                                    <div class="card-content-image cg-5"></div>
                                    <div class="card-content-info">
                                        <div class="x-title-1 ctrinfo">
                                            <div class="wrapper">
                                                Relating And Knowing Other Students
                                            </div>
                                        </div>
                                        <div class="x-title-2 ctrinfo">
                                            <div class="wrapper">
                                                Many Students have suffered a social boundary
                                                because of the
                                                great wall of school which destroys there social life.
                                            </div>
                                        </div>
                                        <div class="x-title-btn">
                                            <div class="x-btn-wrapper ctrinfo">
                                                <div class="sl-button">&RightArrow;</div>
                                                <div class="sl-text">Read More From Interact Club.</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card-x-component">
                            <div class="card-content">
                                <div class="card-content-wrapper">
                                    <div class="card-content-image cg-6"></div>
                                    <div class="card-content-info">
                                        <div class="x-title-1 ctrinfo">
                                            <div class="wrapper">
                                                Relating And Knowing Other Students
                                            </div>
                                        </div>
                                        <div class="x-title-2 ctrinfo">
                                            <div class="wrapper">
                                                Many Students have suffered a social boundary
                                                because of the
                                                great wall of school which destroys there social life.
                                            </div>
                                        </div>
                                        <div class="x-title-btn">
                                            <div class="x-btn-wrapper ctrinfo">
                                                <div class="sl-button">&RightArrow;</div>
                                                <div class="sl-text">Read More From Interact Club.</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<div class="xb-voices-component">
    <div class="xb-title-area-component">
        <div class="xb-title-area-container">
            Listen To The Big Voices Of Ndejje
        </div>
    </div>
    <div class="xb-wrapper">
        <div class="xb-split-view-container">
            <div class="xb-split-view-area">
                <div class="xb-split-component-1 str-comp">
                    <div class="wrapper t-content-1">
                        <div class="xb-picture-container"></div>
                        <div class="xb-description-container">Education is the passport to the future, for tomorrrow
                            belongs to those who prepare for it today</div>
                    </div>
                    <div class="wrapper t-content-2">
                        <div class="xb-picture-container"></div>
                        <div class="xb-description-container">Education is the passport to the future, for tomorrrow
                            belongs to those who prepare for it today</div>
                    </div>
                </div>
                <div class="xb-split-component-2 str-comp">
                    <div class="split-video-container">
                        <div class="videx-x-conveyor">
                            <div class="video-icon-restart">&gtrless;</div>
                            <video src="" class="video-provider" controls></video>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="common-change-controls">
        <div class="prev-ctrl vid-ctrl">&triangleleft;</div>
        <div class="next-ctrl vid-ctrl">&triangleright;</div>
    </div>
</div>



<div class="xb-life-component">
    <div class="xb-component-wrapper">
        <div class="xb-title-area-wrapper">
            <div class="xb-title-container">...Life of Students...</div>
        </div>
        <div class="xb-split-view">
            <div class="xb-split-view-wrapper">
                <div class="xb-split-view-1 split-component">
                    <div class="xb-split-component xb-picture-container xl-q">
                    </div>
                    <div class="xb-split-component xb-content">
                        <div class="cr-line"></div>
                        <div class="split-wrapper">
                            The discipline of the students continues to improve. It has been observed that most of the
                            indiscipline cases have a link with home related challenges spilling over to the school
                        </div>
                    </div>
                </div>
                <div class="xb-split-view-2 split-component">
                    <div class="xb-split-component xb-content">
                        <div class="cr-line"></div>
                        <div class="split-wrapper">
                            At breakfast, students are served with milk tea along with eats on Tuesday (Doughnuts),
                            Thursday (chapattis), and Saturday (Buns) Sunday (chapattis/Eggs/Maize
                        </div>
                    </div>
                    <div class="xb-split-component xb-picture-container xl-p">
                    </div>
                </div>

            </div>

        </div>
    </div>
</div>\




<div class="xb-voices-component">
    <div class="xb-title-area-component">
        <div class="xb-title-area-container">
            Listen To The Big Voices Of Ndejje
        </div>
    </div>
    <div class="xb-wrapper">
        <div class="xb-split-view-container">
            <div class="xb-split-view-area">
                <div class="xb-split-component-1 str-comp">
                    <div class="wrapper t-content-1">
                        <div class="xb-picture-container">
                            <div class="cl-t-box">
                                <div class="cl-t-pic"></div>
                                <div class="cl-t-text">
                                    <div class="te-wrapper">#The HeadTeacher</div>
                                </div>
                            </div>
                        </div>
                        <div class="xb-description-container">Education is the passport to the future, for tomorrrow
                            belongs to those who prepare for it today</div>
                    </div>
                    <div class="wrapper t-content-2">
                        <div class="xb-picture-container">
                            <div class="cl-t-box">
                                <div class="cl-t-pic"></div>
                                <div class="cl-t-text">
                                    <div class="te-wrapper">#The Deputy HeadTeacher</div>
                                </div>
                            </div>
                        </div>
                        <div class="xb-description-container">Discipline is the bridge between goals and accomplishment.
                        </div>
                    </div>
                </div>
                <div class="xb-split-component-2 str-comp">
                    <div class="split-video-container">
                        <div class="videx-x-conveyor">
                            <div class="video-icon-restart" title="Play">&gtrless;</div>
                            <video src="" id="my-hr-player" class="video-js" controls>
                                <source src="./Gitta_interview.mp4" type="video/mp4">
                                </source>
                            </video>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="common-change-controls">
        <div class="prev-ctrl vid-ctrl">&triangleleft;</div>
        <div class="next-ctrl vid-ctrl">&triangleright;</div>
    </div>
</div>


<!--new-->

<div class="xb-voices-component">
    <div class="xb-title-area-component">
        <div class="xb-title-area-container">
            Listen To The Big Voices Of Ndejje
        </div>
    </div>
    <div class="xb-wrapper">
        <div class="xb-split-view-container">
            <div class="xb-split-view-area">
                <div class="xb-split-component-1 str-comp">
                    <div class="wrapper t-content-1">
                        <div class="xb-picture-container">
                            <div class="cl-t-box">
                                <div class="cl-t-pic"></div>
                                <div class="cl-t-text">
                                    <div class="te-wrapper">#The HeadTeacher</div>
                                </div>
                            </div>
                        </div>
                        <div class="xb-description-container">Education is the passport to the future, for tomorrrow
                            belongs to those who prepare for it today</div>
                    </div>
                    <div class="wrapper t-content-2">
                        <div class="xb-picture-container">
                            <div class="cl-t-box">
                                <div class="cl-t-pic"></div>
                                <div class="cl-t-text">
                                    <div class="te-wrapper">#The Deputy HeadTeacher</div>
                                </div>
                            </div>
                        </div>
                        <div class="xb-description-container">Discipline is the bridge between goals and accomplishment.
                        </div>
                    </div>
                </div>
                <div class="xb-split-component-2 str-comp">
                    <div class="split-video-container">
                        <div class="videx-x-conveyor">
                            <div class="video-icon-restart" title="Play">
                                <div class="icon-wrapper">
                                    <i class="fa-solid fa-play"></i>
                                </div>
                            </div>

                            <video src="" id="my-hr-player" class="video-js" controls>
                                <source src="./Gitta_interview.mp4" type="video/mp4">
                                </source>
                            </video>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="common-change-controls">
        <div class="prev-ctrl vid-ctrl">&triangleleft;</div>
        <div class="next-ctrl vid-ctrl">&triangleright;</div>
    </div>
</div>




<!--very new-->
<div class="xb-voices-component">
    <div class="xb-title-area-component">
        <div class="xb-title-area-container">
            Listen To The Big Voices Of Ndejje
        </div>
    </div>
    <div class="xb-wrapper">
        <div class="xb-split-view-container">
            <div class="xb-split-view-area">
                <div class="xb-split-component-1 str-comp">
                    <div class="wrapper t-content-1">
                        <div class="xb-picture-container">
                            <div class="cl-t-box">
                                <div class="cl-t-pic"></div>
                                <div class="cl-t-text">
                                    <div class="te-wrapper">#The HeadTeacher</div>
                                </div>
                            </div>
                        </div>
                        <div class="xb-description-container">Education is the passport to the future, for tomorrrow
                            belongs to those who prepare for it today</div>
                    </div>
                    <div class="wrapper t-content-2">
                        <div class="xb-picture-container">
                            <div class="cl-t-box">
                                <div class="cl-t-pic"></div>
                                <div class="cl-t-text">
                                    <div class="te-wrapper">#The Deputy HeadTeacher</div>
                                </div>
                            </div>
                        </div>
                        <div class="xb-description-container">Discipline is the bridge between goals and accomplishment.
                        </div>
                    </div>
                </div>
                <div class="xb-split-component-2 str-comp">
                    <div class="split-video-container" style="font-size: 30pt;">
                        <div class="video-labels">
                            <div class="vid-label-cl"></div>
                            <div class="vid-close-cl"></div>
                        </div>
                        <div class="videx-x-conveyor">
                            <div class="video-icon-restart" title="Play">
                                <div class="icon-wrapper">
                                    <i class="fa-solid fa-play"></i>
                                </div>
                            </div>

                            <video src="" id="my-hr-player" class="video-js" controls>
                                <source src="./Gitta_interview.mp4" type="video/mp4">
                                </source>
                            </video>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="common-change-controls">
        <div class="prev-ctrl vid-ctrl">&triangleleft;</div>
        <div class="next-ctrl vid-ctrl">&triangleright;</div>
    </div>
</div>





<div class="xb-voices-component">
    <div class="xb-title-area-component">
        <div class="xb-title-area-container">
            Listen To The Big Voices Of Ndejje
        </div>
    </div>
    <div class="xb-wrapper">
        <div class="xb-split-view-container">
            <div class="xb-split-view-area">
                <div class="xb-split-component-1 str-comp">
                    <div class="wrapper t-content-1">
                        <div class="xb-picture-container">
                            <div class="cl-t-box">
                                <div class="cl-t-pic"></div>
                                <div class="cl-t-text">
                                    <div class="te-wrapper">#The HeadTeacher</div>
                                </div>
                            </div>
                        </div>
                        <div class="xb-description-container">Education is the passport to the future, for tomorrrow
                            belongs to those who prepare for it today</div>
                    </div>
                    <div class="wrapper t-content-2">
                        <div class="xb-picture-container">
                            <div class="cl-t-box">
                                <div class="cl-t-pic"></div>
                                <div class="cl-t-text">
                                    <div class="te-wrapper">#The Deputy HeadTeacher</div>
                                </div>
                            </div>
                        </div>
                        <div class="xb-description-container">Discipline is the bridge between goals and accomplishment.
                        </div>
                    </div>
                </div>
                <div class="xb-split-component-2 str-comp">
                    <div class="split-video-container">
                        <div class="video-labels">
                            <div class="vid-label-cl"></div>
                            <div class="vid-close-cl">&times;</div>
                        </div>
                        <div class="videx-x-conveyor">
                            <div class="video-icon-restart" title="Play">
                                <div class="icon-wrapper">
                                    <i class="fa-solid fa-play"></i>
                                </div>
                            </div>

                            <video src="" id="my-hr-player" class="video-js" controls>
                                <source src="./videos/hm_interview.mp4" type="video/mp4">
                                </source>
                            </video>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="common-change-controls">
        <div class="prev-ctrl vid-ctrl">&triangleleft;</div>
        <div class="next-ctrl vid-ctrl">&triangleright;</div>
    </div>
</div>




<div class="xb-vid-interview">
    <div class="xb-title-area">
        <div class="wrapper">Hear From Our Students.</div>
    </div>
    <div class="xb-wrapper">
        <div class="xb-content-container">
            <div class="vid-cover-poster">
                <div class="wrapper">
                    <div class="xty-image-control">
                        <div class="xty-ctrl" title="Play">&gtrless;</div>
                    </div>
                    <div class="xty-video-control">
                        <video src="" id="my-hr-player" class="video-js" controls>
                            <source src="./videos/hm_interview.mp4" type="video/mp4">
                            </source>
                        </video>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>





<div class="xb-vid-interview">
    <div class="xb-grid-splitview">
        <div class="xb-split-view-1">
            <div class="xb-title-area">
                <div class="wrapper">Hear From Our Students.</div>
            </div>
        </div>
        <div class="xb-split-view-2">
            <div class="xb-content-wrapper">
                <div class="xb-player-control-wrapper">
                    <div class="xb-video-ctrl-wrapper">
                        <div class="xb-icon-container">
                            <i class="fa-solid fa-play"></i>
                        </div>
                    </div>
                    <div class="xb-video-wrapper">
                        <video id="my-om-player" class="video-js sm2" controls>
                            <source src="./videos/hm_interview.mp4" type="video/mp4">
                            </source>
                        </video>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>





<div class="xb-vid-interview">

    <div class="xb-grid-splitview">
        <div class="xb-split-view-1">
            <div class="xb-title-area">
                <div class="wrapper">Hear From Our Students.</div>
            </div>
        </div>
        <div class="xb-split-view-2">
            <div class="xb-content-wrapper">
                <div class="xb-player-control-wrapper">
                    <div class="xb-video-ctrl-wrapper">
                        <div class="xb-icon-container">
                            <i class="fa-solid fa-play"></i>
                        </div>
                    </div>
                    <div class="xb-video-wrapper">
                        <video id="my-om-player" class="video-js sm2" controls>
                            <source src="./videos/hm_interview.mp4" type="video/mp4">
                            </source>
                        </video>
                    </div>
                </div>
            </div>
        </div>
    </div>



    <div class="xb-wrapper">

        <div class="xb-content-container">
            <div class="vid-cover-poster">
                <div class="wrapper">
                    <div class="xty-image-control">
                        <div class="xty-ctrl" title="Play">&gtrless;</div>
                    </div>
                    <div class="xty-video-control">

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>