@use "../../common/Variables/Variables.scss" as V;


@keyframes slideFromTheLeft {
    0% {
        display: none;
        opacity: 0;
        transform: translateX(-100px);
    }

    100% {
        display: block;
        opacity: 1;
        transform: translateX(0px);
    }
}

ns-x-benefits {
    display: block;
    --ns-x-height: 800px;
    font-family: V.$ns-common-font;
    margin-top: 30px;
}

ns-x-benefits .ponaco-splitview-3 {
    margin-top: 200px;
    // border: 3px solid red;
    height: var(--ns-x-height);
    width: 100%;

    .wx-component-3 {
        height: inherit;
        width: inherit;

        .split-view {
            width: 100%;
            height: inherit;


            .ctr-component-container {
                width: 100%;
                height: inherit;

                .ctr-component-wrapper {
                    width: 100%;
                    height: inherit;
                    display: grid;
                    grid-template-columns: 2fr 2fr;

                    //  > div {
                    //     border: 1px solid red;
                    //  }



                    .conic-section-1 {

                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        justify-content: center;

                        .ctx-pictures-wrapper {


                            width: 550px;


                            display: grid;
                            grid-template-rows: 300px 300px;

                            .ctx-additive-pics {
                                display: grid;
                                grid-template-columns: 1fr 1fr;
                            }


                            .cn-pic-box {

                                position: relative;

                                >div {
                                    position: absolute;
                                }

                                .cn-picture-container {
                                    transition: all .5s;
                                    width: 100%;
                                    height: 300px;
                                    background-color: #0808086c;
                                    border: 1px solid #00000018;
                                    z-index: 1;
                                    font-size: 30pt;
                                    display: flex;
                                    align-items: center;
                                    justify-content: center;

                                    picture {
                                        transition: all .5s;
                                        width: inherit;
                                        height: inherit;

                                        img {
                                            transition: all .5s;
                                            display: block;
                                            width: 100%;
                                            height: 100%;
                                            opacity: 0;
                                        }
                                    }
                                }


                                .cn-info-container::after {
                                    position: absolute;
                                    width: 100%;
                                    height: 100%;
                                    top: 0;
                                    left: 0;
                                    background: rgba(0, 0, 0, 0.979);
                                    opacity: 0;
                                    transition: all 1s;
                                    -webkit-transition: all 1s;

                                }

                                .cn-info-container {
                                    font-family: V.$ns-common-font;

                                    opacity: 0.9;
                                    height: 130px;
                                    width: 100%;
                                    bottom: 0px;
                                    z-index: 2;
                                    display: flex;
                                    align-items: flex-end;



                                    .cn-info-wrapper {
                                        margin-left: 30px;
                                        width: fit-content;

                                        .cn-short-title {
                                            font-family: V.$ns-common-font;

                                            font-size: 15pt;
                                            margin-bottom: 11px;
                                            color: #fff;
                                            font-weight: 350;
                                        }

                                        .cn-short-title-2 {
                                            font-family: V.$ns-common-font;

                                            color: rgba(255, 255, 255, 0.671);
                                            font-size: 22pt;
                                            margin-bottom: 11px;
                                            font-weight: 300;

                                        }
                                    }
                                }

                            }
                        }
                    }

                    .conic-section-2 {
                        display: flex;
                        align-items: center;
                        flex-direction: row;
                        justify-content: center;

                        .wrapper {
                            opacity: 0;
                            transform: translateY(-50px);

                            .content-wrapper {
                                margin-left: 30px;

                                .cr-title {
                                    color: #000;
                                    font-size: 35pt;
                                    font-family: V.$ns-common-font;


                                }

                                .cr-description {
                                    font-family: V.$ns-common-font;

                                    margin-top: 10px;
                                    color: #000000e1;
                                    word-wrap: break-word;
                                    width: 400px;
                                    font-size: 19pt;
                                }

                                ns-link {
                                    a {
                                        margin: 0px;
                                        padding: 0px;
                                        text-decoration: none;
                                        color: #fff;
                                    }

                                    .cr-xmore {
                                        font-family: V.$ns-common-font;


                                        margin-top: 20px;
                                        height: 50px;
                                        width: 160px;
                                        cursor: pointer;
                                        display: flex;
                                        align-items: center;
                                        justify-content: center;
                                        border: 2px solid #000000;
                                        color: #fff;
                                        transition: all .5s;
                                        background-color: #2179ec;
                                        font-family: V.$ns-common-font;

                                        &:hover {
                                            background-color: #2c2c2c;
                                            cursor: pointer;
                                        }

                                        &:active {
                                            transform: scale(0.8);
                                        }
                                    }
                                }


                            }


                        }

                    }





                }

            }
        }
    }
}