


<div class="cl-bogarticlecomponent">
    <div class="main-wrapper">
        <div class="picture-main-wrapper">
            <div class="picture-main-container"></div>
        </div>
        <div class="reader-content-provider">
            <div class="reader-content-wrapper">
                <div class="main-title"></div>
                <div class="sub-title"></div>
            </div>
        </div>
    </div>
</div>