@media (max-width: 1160px) {
    ns-x-banner {
        height: 945px;
    }
}

@media (max-width: 1025px) {
    ns-x-banner {
        height: 900px;
    }
}

@media (max-width: 1000px) {
    ns-x-banner {
        height: 800px;
    }
}

@media (max-width: 840px) {
    ns-x-banner {
        height: 700px;
    }
}

@media (max-width: 768px) {
    ns-x-banner {
        height: 648px;
    }
}

@media (max-width: 700px) {
    ns-x-banner {
        height: 600px;
    }
}

@media (max-width: 658px) {
    ns-x-banner {
        height: 556px;
    }
}

@media (max-width: 570px) {
    ns-x-banner {
        height: 500px;
    }
}