@media (max-width: 730px) {
    ns-x-edu .ponaco-component-edu {
        .wrapper {
            width: 500px;
            margin: auto;

            .info {
                text-align: center;
            }
        }
    }
}