@use "../../common/Variables/Variables.scss" as V;

ns-footer {
    display: block;
}


ns-footer .footer-main-outlet {
    height: fit-content;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 100px;

    .footer-wrapper {
        display: grid;
        grid-template-columns: 1fr 2px 1fr;
        grid-column-gap: 100px;

        .section-1 {
            .text-container {

                .cl-1 {
                    font-size: 50pt;
                    margin-left: 35px;
                }

                .cl-2 {
                    font-size: 15pt;
                    margin: 10px 0px 10px 35px;
                }
                margin-bottom: 20px;

                
            }
            .tr-enroll-container {
                margin-top: 50px;
                width: 100%;

                .enroll-jk {
                    margin-left: 35px;
                    font-family: V.$ns-common-font;
                    height: 50px;
                    width: 160px;
                    cursor: pointer;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    border: 2px solid #fff;
                    color: #fff;
                    transition: all .5s;
                    background-color: #2179ec;

                    &:hover {
                        background-color: #2c2c2c;
                        cursor: pointer;
                    }

                    &:active {
                        transform: scale(0.8);
                    }
                }
            }
        }

        .line-divider {
            width: 2px;
            height: 100%;
            background-color: #000;
        }


        .section-2 {
            .main-wrappper {
                display: grid;
                grid-template-columns: 1fr 1fr;
                .slw {
                     > div {
                        margin-left: 30px;
                     }
                     .title {
                        font-size: 14pt;
                        margin-bottom: 7px;
                        font-weight: bold;
                     }
                     .lm-content {
                         > div {
                            font-size: 11pt;
                            margin-top: 4px;
                            margin-bottom: 4px;
                         }
                     }
                }
                .social-media {
                    
                .control-options {
                    display: flex;

                    >:nth-child(1) {
                        color: #1DA1F2;
                    }

                    >:nth-child(2) {
                        color: #1DA1F2;
                    }

                    >:nth-child(3) {
                        color: #1DA1F2;
                    }

                    >div {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        font-size: 14pt;
                        width: 50px;
                        height: 50px;
                        cursor: pointer;
                        transition: all .5s;

                        &:hover {
                            color: V.$ns-layout-color;
                        }
                    }

                 
                }
                }
            }
        }
    }
    .copyright-label {
        margin-top: 40px;
        border: 2px solid #000;
        width: 100%;
        padding: 10px;
    }

}