@use "../../common/Variables/Variables.scss" as V;

//Welcome Note Animation 





ns-x-banner {
    display: block;
    width: 100%;
}

ns-x-banner .ponaco-splitview-1 {
    height: 850px;
    width: 100%;
    font-family: V.$ns-common-font;
    background-color: #222222;
    margin-bottom: 100px;

    .ponaco-control-wrapper {
        height:fit-content;
        width: 100%;
        background-attachment: fixed;
        background-position: 50% 8%;
        background-repeat: no-repeat;
        background-size: cover;
        transition: all .5s;
        opacity: 0;
        
         > div {
            position: absolute;

        }
    
        .banner-image-container {
            width: 100%;

            picture {
                width: inherit;
                height: inherit;
                transition: all .5s;

                img {
                    filter: brightness(80%);
                    display: block;
                    width: 100%;
                    height: 100%;
                    transition: all .5s;

                }
            }

        }

        .wx-component-user-section {
            width: 100%;
            height: 600px;
            transition: all 1.5s;

            .welcome-note-section {
                position: relative;
                border-left: 2px solid white;
                width: fit-content;
                transition: all 1.5s ease;
                margin-top: 320px;
                padding-left: 30px;
                margin-left: 30px;
                display : flex;
                flex-direction : column;
                opacity: 0;
                transform: translateX(-50px);

                .note-1 {
                    color: #e6e6e6;
                    // font-family: 'Times New Roman', Times, serif;
                    word-wrap: break-word;
                    transition: all 1.5s;
                    width: 700px;
                    font-size: 60pt;
                    margin-bottom: 10px;
                }

                .note-2 {
                    //  font-family: 'handlee'cursive;
                    color: #ffffffd7;
                    text-transform: capitalize;
                    transition: all 1.5s;

                    font-size: 16pt;
                    margin-bottom: 10px;
                }
            }
        }
      
    }
}