@use "../../common/Variables/Variables.scss" as V;

ns-x-news {
    display: block;
}

ns-x-news .xb-news-component {

    font-family: V.$ns-common-font;
    width: 100%;
    height: 900px;

    .xb-title-area-container {
        width: 100%;
        height: 200px;
        @include V.center();

        .xb-title-area {
            font-size: 40pt;
        }

    }

    .xb-wrapper {
        .xb-wrapper-container {
            width: 100%;
            @include V.center();

            .xb-split-view {
                width: fit-content;
                display: grid;
                grid-template-columns: 1fr 1fr 1fr;
                row-gap: 0px;
                column-gap: 100px;
            }
        }
    }
}