@use "../../common/Variables/Variables.scss" as V;

ns-insights-view {
    display: block;

}

ns-insights-view .insights-view-container {
    width: 100%;
    height: 100%;

    .common-wrapper {
        width: 100%;
        height: inherit;

        .split-view-area {
            width: inherit;
            height: inherit;
            display: grid;
            grid-template-columns: 100% 100%;

            .view-split {
                width: 100%;
                height: 100%;
            }

            .split-view-1 {
                transition: all .5s;
                display: none;
                opacity: 0;

                .control-header-component {
                    display: flex;
                    justify-content: space-between;
                    height: 100px;

                    .title-wrapper {

                        .common-control-title-wrapper {

                            margin: 20px 0px 0px 45px;

                            >div {
                                span {
                                    font-family: V.$ns-common-font;
                                    font-weight: bolder;
                                    font-size: 50pt;
                                }

                                .tr-title {
                                    font-family: V.$ns-common-font;
                                    color: #000000c9;
                                    font-size: 15pt;
                                }
                            }
                        }

                    }

                    .date-wrapper {
                        margin: 20px 20px 0px 0px;

                        span.date-updater {
                            font-family: V.$ns-common-font;
                            color: #0000007a;
                        }
                    }
                }

                .insight-card-area {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 100%;

                    .card-wrapper {
                        margin: auto;
                        display: flex;
                        align-items: center;
                        justify-content: center;

                        .split-card-view {
                            margin: 50px 0px 50px 0px;
                            display: grid;
                            grid-template-columns: 1fr 1fr;
                            grid-template-rows: auto;
                            row-gap: 40px;
                            column-gap: 40px;

                            .card-component {
                                border: 1px solid black;
                                width: 600px;
                                height: 490px;
                                position: relative;

                                .card-wrapper {
                                    width: inherit;
                                    height: inherit;

                                    >div {
                                        position: absolute;
                                    }

                                    .cover-mask-container {
                                        width: inherit;
                                        height: inherit;
                                        background-color: #00000028;
                                        display: flex;
                                        align-items: center;
                                        justify-content: center;
                                        transition: all .5s;

                                        .content-wrapper {
                                            transition: all .5s;
                                            display: flex;
                                            align-items: center;
                                            justify-content: center;
                                            color: #fff;
                                            font-family: V.$ns-common-font;
                                            font-size: 35pt;
                                            background-color: rgba(0, 0, 0, 0.452);
                                            width: fit-content;
                                            height: 80px;

                                            border: 2px solid #000;
                                            border-top-right-radius: 20px;
                                            border-bottom-right-radius: 10px;
                                            border-radius: 20px 10px 10px 20px;
                                        }

                                        &:hover {
                                            background-color: #00000071;
                                            cursor: pointer;

                                            .content-wrapper {
                                                width: fit-content;
                                                border-color: #fff;
                                                background-color: #00000085;
                                            }
                                        }
                                    }

                                    .picture-container-wrapper {
                                        top: 0px;
                                        width: inherit;
                                        height: inherit;
                                        transition: all .5s;
                                        display: flex;
                                        align-items: center;

                                        picture {
                                            transition: all .5s;

                                            width: inherit;
                                            height: inherit;

                                            img {
                                                transition: all .5s;
                                                display: block;
                                                width: 100%;
                                                height: 100%;
                                            }

                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }

            .split-view-2 {
                transition: all .5s;

                width: 100%;

                .main-area-wrapper {
                    width: 100%;
                    height: inherit;
                    font-family: V.$ns-common-font;

                    .content-wrapper {
                        width: 100%;

                        .navigaton-area {
                            border-top: 2px solid #146bee;
                            border-right:2px solid #fff ;
                            background-color: #000000de;
                            height: 50px;
                            width: 100%;
                            display: flex;
                            justify-content: space-between;
                            align-items: center;

                            .back-navigation-btn {
                                width: 40px;
                                height: 40px;
                                margin-left: 10px;
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                border: 2px solid #fff;
                                color: #fff;
                                font-size: 18pt;
                                border-radius: 50%;
                                &:hover {
                                    cursor: pointer;
                                    background-color: #fff;
                                    color: #000;
                                }
                                &:active {
                                    border-color: #fff;
                                    color: #1DA1F2;
                                    background-color: unset;
                                }
                            }

                            .title-area {
                                color: #fff;
                                margin-right: 20px;
                                height: 50px;
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                font-size: 20pt;
                            }

                        }

                        .main-content-section {
                            width: 100%;
                            .cover-mask-content-area {
                                height: 700px;
                                width: 100%;
                              
                                background-color: rgb(0 0 0 / 58%);
                                >div {
                                    position: absolute;
                                }

                                .picture-container {
                                    width: inherit;
                                    height: inherit;

                                    display: flex;
                                    flex-direction: row;

                                    figure {
                                        transition: all .5s;
                                        filter: brightness(47%);
                                        width: inherit;
                                        height: inherit;

                                        img {
                                            transition: all .5s;
                                            display: block;
                                            
                                            height: 100%;
                                        }

                                    }
                                    .designer-ders {
                                        height: inherit;
                                        display: flex;
                                        .der-1 {
                                            width: 300px;
                                             
                                        }
                                        .bm {
                                            height: 950px;
                                            background-color: #146bee;
                                         
                                            z-index: -1;

                                        }
                                        .cm {
                                            border-top: 2px solid #fff;
                                            border-left: 2px solid #fff;
                                            height: 850px;
                                            background-color: #000000;

                                        }
                                    }
                                    
                                }

                                .key-insight-tr {
                                    font-family: V.$ns-common-font;
                                    width: fit-content;
                                    border: 5px solid #fff;
                                    height: fit-content;
                                    font-size: 80pt;
                                    top: 60%;
                                    left: 10%;
                                    background-color: rgba(0, 0, 0, 0.541);
                                    backdrop-filter: blur(8px);
                                    color: #fff;
                                }
                            }

                            .sub-section-content-area {
                                width: 100%;

                                .text-main-wrapper {
                                    margin: auto;
                                    width: 80%;

                                    .porb-question-area {
                                        font-family: V.$ns-common-font;
                                        font-size: 61pt;
                                        font-weight: bold;
                                        display: flex;
                                        align-items: center;
                                        justify-content: center;
                                        height: 200px;
                                        margin: 20px 0px 20px 0px;
                                    }

                                    .prob-header-area {
                                        .prop-header-wrapper {
                                            width: 100%;
                                            display: flex;
                                            justify-content: space-between;
                                            height: 70px;

                                            .cp-picture-content-area {
                                                height: 70px;
                                                display: flex;
                                                align-items: center;

                    

                                                .writter-content-holder {
                                                    margin-left: 8px;
                                                    font-family: V.$ns-common-font;
                                                    font-size: 15pt;
                                                }
                                            }

                                            .cp-info-area {
                                                height: 70px;
                                                display: flex;
                                                align-items: center;

                                                ._info_areas {
                                                    height: fit-content;

                                                    a {
                                                        transition: all .5s;
                                                        margin: 0px 5px 0px 5px;
                                                        text-decoration: none;
                                                        color: hwb(0 0% 100% / 0.747);

                                                        &:hover {
                                                            color: #0099ff;
                                                        }
                                                    }
                                                }
                                            }

                                        }
                                    }

                                    .central-content {
                                        margin-top: 30px;

                                        .content {
                                            font-family: "Segoe UI";
                                            font-size: 25pt;
                                            margin: 30px 0px 30px 0px;

                                        }
                                        .cl1 {
                                            font-size: 25pt;
                                            margin: 20px 0px 20px 0px;
                                        }
                                    }

                                    .header-hub {
                                        font-family: V.$ns-common-font;
                                        width: 100%;
                                        height: 50px;
                                        display: flex;
                                        align-items: center;
                                        justify-content: center;
                                        color: #e2e2e2be;
                                        background-color: #0b0d0f;
                                        margin: 30px 0px 30px 0px;
                                    }
                                }
                            }
                        }
                    }
                }

            }
        }
    }
}