@use "../../common/Variables/Variables.scss" as V;

ns-insights-view {
    display: block;

}

ns-insights-view .insights-view-container {
    width: 100%;
    display: block;
    height: fit-content;

    font-family: V.$ns-common-font;

    .cl-wrapper {
        position: relative;
        top: 70px;
        width: 100%;

        .cl-control-header-section {
            border: 2px solid green;
            height: fit-content;
            width: 100%;

            .cl-page-controls {
                background-color: #eeecec;
                height: 50px;
                box-shadow: rgb(0 0 0 / 36%) 0px 0px 8px 2px;


                display: flex;
                flex-direction: row;
                justify-content: space-between;

                .cl-close-ctrl {
                    transition: all .5s;
                    height: 50px;
                    width: 50px;
                    font-size: 30pt;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    cursor: pointer;

                    &:hover {
                        color: #f32a2a;
                    }
                }

                .cl-title {
                    transition: all .5s;
                    height: 50px;
                    width: fit-content;
                    font-size: 13pt;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    font-weight: bold;
                    margin-right: 40px;
                }
            }

            .cl-common-content-image {
                width: 100%;
                height: 300px;

                .cl-cl-wrapper {
                    text-align: right;
                    font-size: 80pt;
                    width: 100%;
                    font-weight: bold;
                    padding-right: 60px;
                    margin: 70px 0px 0px 0px;
                }

                .cl-boundary-container {
                    width: 100%;
                    height: 90px;
                    margin-top: 50px;
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    .cl-half-boundary-image {
                        height: 80px;
                        width: 80px;
                        border-radius: 50%;
                    }
                }

            }




        }

        .cl-main-content {
            width: 100%;
            margin-top: 50px;
            .cl-main-content-wrapper {
                margin: auto;
                color: black;
                width: 80%;

                .cl-header-content-manager {
                    width: 100%;
                    height: 100px;
                    display: flex;
                    justify-content: space-between;

                    .cl-half-1 {
                        height: 100px;
                        width: fit-content;
                        display: flex;
                        align-items: center;
                      
                        .cl-i {
                            border: 1px solid red;
                            height: 50px;
                            width: 50px;
                            border-radius: 50px;
                            margin: 0px 8px 0px 8px;
                        }

                        .cl-i-2 {
                            color: #000000c9;
                            font-size: 13pt;
                            font-weight: bold;
                        }
                    }
                    .cl-half-2 {

                        .cl-common-link {
                            height: 100px;
                            width: 70px;
                            font-size: 20pt;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            .cl-icon-wrapper {
                                color: #1a55f8;
                                width: fit-content;
                                height: fit-content;
                            }
                        }
                    }
                }

                .cl-content-image-1 {
                    border: 1px solid red;
                    width: 100%;
                    height: 500px;
                }
                .cl-content-1 {
                    margin-top: 30px;
                    height: 300px;
                    .clp{
                        font-size: 25pt;
                        color: #000000af;
                        line-height: 50px;
                    }
                }
                .cl-content-section-2 {
                    margin-top: 50px;
                    width: 100%;
                    height: 500px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    font-weight: bold;
                    font-size: 70pt;
                    color: goldenrod;
                }
                .cl-content-section-2-image {
                    border: 1px solid red;
                    width: 100%;
                    height: 500px;
                }
                .cl-content-2 {
                    margin-top: 30px;
                    height: 600px;
                    padding: 30px 0px 30px 0px;
                    .clp-2{
                        font-size: 25pt;
                        color: #000000af;
                        line-height: 50px;
                    }
                }

            }
        }

    }
}