@use "../../common/Variables/Variables.scss" as V;

ns-x-acdmw {
    display: block;
}

ns-x-acdmw .xb-academics-component { 
    width: 100%;
    height: 450px;
}

ns-x-acdmw .xb-academics-component {
    font-family: We;
    width: 100%;
    height: 700px;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: 100% 40%;
    transition: all 0.5s;
    height: fit-content;
    margin-bottom: 150px;

    .control-wrapper {
        width: 100%;
        height: 700px;
        display: flex;
        align-items: center;
        justify-content: center;

        >div {
            position: absolute;
        }

        .xb-wrapper-2 {
            width: inherit;

            .banner-wrapper {
                transition: all .5s;
                width: inherit;
                height: inherit;

                picture {
                    transition: all .5s;
                    width: inherit;
                    height: inherit;

                    img {
                        transition: all .5s;
                        display: block;
                        width: inherit;
                        height: inherit;
                        filter: brightness(80%);
                    }
                }
            }
        }

        .xb-wrapper {
            height: 150px;
            width: 60%;
            margin: auto;
            text-align: center;

            .tl-x-o-text {
                transition: all .5s;
                font-size: 55pt;
                font-weight: bold;
                color: #fff;

                &::before {
                    content: '"';
                }

                &::after {
                    content: '"';
                }

                &:hover {
                    color: rgba(255, 255, 0, 0.836);
                }
            }

            .xl-sub-content {
                width: 100%;
                font-size: 24pt;
                margin-top: 20px;
                color: #c7c7c7;

            }


        }

    }


}